<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span th:text="${studentObj.firstName}"></span>
    <br>
    <span th:text="${studentObj.lastName}"></span>
    <br>
    <span th:text="${studentObj.country}"></span>
    <br>
    <span th:text="${studentObj.programmingLanguage}"></span>
    <br>
    <span th:text="${studentObj.operatingSystem}"></span>
</body>
</html>